*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: blanchedalmond;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px black;
    background: cornflowerblue;
}

#header{
    height: 140px;
    background: palegoldenrod;
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;

}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #a13939;
}
