*{
    padding: 0px;
    margin: 0px;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: rgb(76, 0, 255);
=======
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: blanchedalmond;
>>>>>>> 42faed4331447fce097e9f43376a4a681cd82034
}

#container{
    width: 80%;
    margin: 0px auto;
<<<<<<< HEAD
    box-shadow: 0xp 0xp 10px gray;
    background-color: rgb(217, 225, 230);
}

#header{
    height: 150p;
    background: #f0f0f0
}

#logo{
    padding: 20px margin-left 20px;
=======
    box-shadow: 0px 0px 10px black;
    background: cornflowerblue;
}

#header{
    height: 140px;
    background: palegoldenrod;
}

#logo{
    padding: 20px;
>>>>>>> 42faed4331447fce097e9f43376a4a681cd82034
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
<<<<<<< HEAD
}
=======

}

>>>>>>> 42faed4331447fce097e9f43376a4a681cd82034
#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
<<<<<<< HEAD
    color: aqua#01B1EA; 
}
=======
    color: #a13939;
}
>>>>>>> 42faed4331447fce097e9f43376a4a681cd82034
